/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.home_box {
    -fx-background-radius: 25px;
    -fx-background-color: linear-gradient(to right, rgba(84, 142, 247, 0.7), rgba(162, 28, 209, 0.7));
    
}

.home_box:hover {
    -fx-background-radius: 25px;
    -fx-background-color: linear-gradient(to right, rgba(141, 198, 63, 100), rgba(0, 148, 68, 100));
}

.footer {
    -fx-background-color: #efbaba;
}

.body {
    -fx-background-color: rgba(239, 239, 85, 0.83);
    -fx-background-image: url("../images/Hback.jpg");
}


.leftbox {
    -fx-background-color: #ffffff;
}

.leftbox:hover {
    -fx-background-color: #daedff;
    -fx-cursor: hand;
}

.main_btn {
    -fx-background-color: white;
}

.main_btn:hover {
    -fx-background-color: #daedff;
    -fx-cursor: hand;
}